<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Not Found | whatdoeslambdasupport.com</title>
    <meta name="description" content="Trying to figure out what JavaScript features are supported or not in different versions of Node is no fun. We run the same tests found in the Kangax test suite in each AWS Lambda runtime to produce these test results. No more guessing.">
    <meta name="keywords" content="aws, lambda, node.js, javascript, support, kangax, esnext, jsnext">
    <meta name="author" content="Coffee and Code">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Node Versions</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="http://whatdoeslambdasupport.com/">v4.3.2 <span class="sr-only">(current)</span></a></li>
            <li><a href="http://v0-10-4.whatdoeslambdasupport.com/">v0.10.4</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1>Page Not Found</h1>
    </div>

    <footer>
      <div class="container">
        <p><em>Made with love by the web consultants at <a href="http://www.coffeeandcode.com/?utm_source=whatdoeslambdasupport.com&utm_medium=footer_link&utm_campaign=open_source">Coffee and Code</a>.</em></p>
        <p class="build-info">Last built on {{buildTime}} with tests from {{testImportTime}}.</p>
      </div>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43185016-7', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
