<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Node Versions</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#each meta.nodeVersions}}
          {{#ifEqual @index 0}}
            <li {{#ifEqual ../meta.version .}}class="active"{{/ifEqual}}><a href="/">{{.}} <span class="sr-only"></span></a></li>
          {{else}}
            <li {{#ifEqual ../meta.version .}}class="active"{{/ifEqual}}><a href="/{{.}}/">{{.}} <span class="sr-only"></span></a></li>
          {{/ifEqual}}
        {{/each}}
      </ul>
    </div>
  </div>
</nav>
